html {
    margin:    0 auto;
    max-width: 80%;
}

body {
    text-align: center;
}
/* Header formatting */
header #top-header, 
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}

header ul {
    list-style-type: none;
    display: flex;
}

header li {
    padding: 10px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

header #header-image-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

header #logo {
    font-weight: 700;
    font-size: 24px;
    color: #F9FAF8;
}

#header-boxer {
    padding: 20px;
    width: 400px;
    height: auto;
}

#image-text {
    text-align: center;
    max-width: 400px;
}

section#section1 .title {
    margin-top: 18px;
}

section#section1 .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left:10%;
    padding-right: 10%;
    gap: 52px;
}

.card {
    text-justify: center;
    max-width: 200px;
}

.card img {
    max-width: 200px;
    height: auto;

}

.title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 32px;;
}

section#section2 {
    margin-top: 20px;
}

section#section2 p {
    font-style: italic;
    font-size: 30px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    height:30px;
}